<a href="https://colab.research.google.com/github/karipuf/crypto/blob/master/crypto_tools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Setting stuff up

In [ ]:
#@title Imports


from Historic_Crypto import HistoricalData,Cryptocurrencies,LiveCryptoData
import loguru,pylab as pl,mlflow,pyspark,lightgbm,sklearn,pandas as pd,\
numpy as np,pyspark.sql.functions as F,re
from pyspark.sql.window import Window
from itertools import count
from functools import reduce
from lightgbm import LGBMRegressor,LGBMClassifier
from loguru import logger

spark=pyspark.sql.SparkSession.builder.getOrCreate()
root_path="/content/drive/MyDrive/cryptooo/"

mlflow.set_tracking_uri(f"{root_path}mlflow")
mlflow.set_experiment("cryptooo")
logger.add(open(f"{root_path}logs/log1","w+"))

1

In [ ]:
#@title Local definitions
# Local definitions

rollback=lambda l,n:Window.orderBy("time").rowsBetween(-(l+n),Window.currentRow-n)
def rollingRows(coins=['btc','eth','ltc'],winlens=[3,7],
                avg_kpis=["open","close","volume"],
                min_kpis=['low'],max_kpis=['high'],lag=3):
  
  rows=[]
  for l in winlens:
    rows.append([F.avg(tmp).over(rollback(l,lag)).alias(f"{tmp}_rolling{l}") for tmp in 
    (f"{coin}_{kpi}" for coin in coins for kpi in avg_kpis)])
    rows.append([F.min(tmp).over(rollback(l,lag)).alias(f"{tmp}_rolling{l}") for tmp in 
    (f"{coin}_{kpi}" for coin in coins for kpi in min_kpis)])
    rows.append([F.max(tmp).over(rollback(l,lag)).alias(f"{tmp}_rolling{l}") for tmp in 
    (f"{coin}_{kpi}" for coin in coins for kpi in max_kpis)])

  return reduce(lambda x,y:x+y,rows)

## Get some data to play about with

In [ ]:
# Generate list of currencies
pf=Cryptocurrencies(coin_search="USD").find_crypto_pairs()

for fname,symb in [("btc.csv","BTC-USD"),
                   ("eth.csv","ETH-USD"),
                   ("ltc.csv","LTC-USD")]:
  try:
    pf_ = pd.read_csv(f"{root_path}/data/{fname}")
  except FileNotFoundError:
    pf_ = HistoricalData(symb,3600,'2020-08-01-00-00').retrieve_data()
    pf_.to_csv(f"{root_path}/data/{fname}")

  # Creating pandas and spark dataframes
  varname=re.compile("(\S+)\.csv").findall(fname)[0]
  exec(f"p{varname}=pf_")
  exec(f"d{varname}=spark.createDataFrame(p{varname}.reset_index())")

  logger.info(f"Created p{varname} and d{varname}")

Connected to the CoinBase Pro API.
Found 133 instances containing the term USD.

2021-09-11 18:03:37.267 | INFO     | __main__:<module>:19 - Created pbtc and dbtc
2021-09-11 18:03:38.207 | INFO     | __main__:<module>:19 - Created peth and deth
2021-09-11 18:03:39.112 | INFO     | __main__:<module>:19 - Created pltc and dltc

In [ ]:
# ETL

combined=(reduce(lambda x,y:x.join(y,"time"),
          [dbtc.alias("dbtc"),deth.alias("deth"),dltc.alias("dltc")])
.select("time",*[F.expr(f"d{coin}.{kpi}").alias(f"{coin}_{kpi}")
    for kpi in ('open','close','low','high','volume')
    for coin in ('btc','eth','ltc')]).orderBy("time"))

df=(combined.alias("combined").select("combined.*",*rollingRows())\
.withColumn("row",F.rank().over(Window.orderBy("time"))).where("row>10") # Removing first n rows to allow for rolling windows
.orderBy("time"))

#display(df.limit(3).toPandas())

                  time  btc_open  ...  ltc_high_rolling7  row
0  2020-08-01 11:00:00  11634.38  ...              60.72   11
1  2020-08-01 12:00:00  11667.58  ...              60.72   12
2  2020-08-01 13:00:00  11681.00  ...              60.80   13

[3 rows x 47 columns]